{
    "ConnectionStrings": {
      "DefaultConnection": "server=localhost;database=ecomerce;user=sa;password=rahasiabanget"
    },
    "Logging": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft": "Warning",
        "Microsoft.Hosting.Lifetime": "Information"
      }
    }
  }
  